/* estilos generales */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section{
  width: 100%;
  overflow: hidden;
}

/*estilos para el dispositivo mobil*/

  /*estilos del header*/
  header{
    width: 100vw;
    margin-top: 0;
    height:10vh;
    z-index: 1000;
    position: fixed;
    /* padding:30px; */
    background:rgb(31, 34, 54);
  }

  header ul li{
    list-style: none;
    border-radius: 5px;
  }
  
   header ul li a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 10vh;
  }
   
  header ul li a:hover{
    text-decoration: none;
    color: rgb(52, 153, 167);
  }
  
  .list-inline .cv-download{
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 10px 5px 10px;
  }
  
  .list-inline .cv-download:hover{
    border: 1px solid rgb(52, 153, 167);
    border-radius: 3px;
  }
  
  .list-inline .icon-cloud-download{
    margin: 0  10px 0 0;
  }

  .nav{
    border-radius: 5px;
    border:1px solid rgb(52, 153, 167);
    padding: 5px  5px 0 5px;
    margin: 8px;
  }

  .nav>a{
    text-decoration: none;
    color: rgb(52, 153, 167);
  }

  .nav>a:hover{
    text-decoration: none;
    color:#fff;
  }

  .nav:hover{
    text-decoration: none;
    background-color: rgb(52, 153, 167);
    color:#fff;
  }

  .dropdown-menu{
    background-color: rgb(52, 153, 167);

  }
  header .dropdown-menu li{
    list-style: none;
    border-radius: 5px;
  }

  header .dropdown-menu li a{
    text-decoration: none;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 10vh;
  }
  
  header .dropdown-menu li a:hover{
    text-decoration: none;
    background-color: rgb(31, 34, 54);
  }

  /*estilos del homepage*/
  .homepage{
    background-image: url(../assets/images/compu6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;   
  }
    
  .homepage-opacity{
    width:100vw;
    height:100vh ;
    background-color: rgba(23, 23, 54, 0.5);  
  }

  .slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 230px;
    color:rgb(233, 228, 250);
    text-shadow: 2px 2px 2px rgb(51, 45, 45);
  }

  .slogan h1, .slogan h2{
    margin: 5px 0;
  }

  .slogan h1{
    font-size: 30px;
    font-family: 'Bitter', serif;
  }

  .slogan h2{
    font-size: 25px;
  }
  
  .slogan ul li{
    padding-top: 50px;
    list-style: none;
    border-radius: 5px;
  }
  
  .slogan ul li a{
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding:10px 20px 5px 20px;
    text-decoration: none;
    margin-right: 10px;
    color: #ffffff;
    line-height: 10vh;
    /* font-weight: 10px; */
  }

  .slogan ul li a:hover{
    border: 1px solid rgb(52, 153, 167);
    text-decoration: none;
    background-color: rgb(52, 153, 167);
  }

  .slogan .cv-download{
    font-size: 23px;
    color:white;
  }
  
  .slogan .icon-cloud-download{
    padding: 10px 10px 5px 10px;
    color:white;
  }

  /*estilos del section 'aboutme'*/
  .line-decoration1{
    height: 0;
    border-right: none;
  }

  #aboutme{
    padding-top:10vh;
    height: 100%;
    padding-bottom:10vh;
  }

  .aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
  }

  .title-aboutme{
    padding-top:0px ;
    font-size: 50px;
    color: rgb(4, 92, 107);
    font-weight: bold;
  }

  .photo img{
    width: 250px;
    height: 170px;
    border-radius:10px;
  }

  .description{
    padding: 18vh 30px 5vh 30px;
    font-size: 15px;
    text-align: justify;
  }

  /* estilos para la sección de extra-page */
.extra-page{
  background-image: url(../assets/images/robot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
  
/*estilos para la seccion 'skills'*/
#skills{
  padding-top: 18vh;
  font-weight: bold;
  height: 100%;
  padding-bottom: 15vh;
  color: rgb(4, 92, 107);
}

.title-skills{
  font-size: 43px;
  padding-right: 10px;
  color: rgb(4, 92, 107);
  font-weight: bold;
}

.subtitle-tech{
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

.top1{
  padding-top: 11vh;

}

.top2{
  padding-top: 8vh;

}

.blandas ul li{
  margin: 0 10px;
  font-size: 17px;
}

.line-decoration2{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  border-right: none;
  height:0px;
}

.col-xs-6{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-tech img{
  width: 80px ;
  height:80px ;
  border-radius:10px;
}

.img-tech1 img{
  width: 70px ;
  height: 80px ;
  border-radius:10px;
}

.babel img{
  width:110px ;
  height: 80px ;
  border-radius:10px;
}

.bootstrap img{
  width: 70px ;
  height:70px ;
  border-radius:10px;
}

.materialize img{
  width: 90px ;
  height:70px ;
  border-radius:10px;
}

figcaption{
  margin: 7px 0;
  font-size: 16px;
}

.list{
  list-style: none;
  font-size: 20px;
}

.list img{
  width: 110px;
  height:110px;
  background-color: rgb(235, 239, 240);
  border-radius:50%;
  margin: 4px 0;
}

/*estilos para la seccion 'portfolio'*/
#portfolio{
  padding-top: 10vh;
  height: 100%;
  padding-bottom:15vh;
  background-color: rgb(49, 113, 133);
}

.portfolio-title{
  padding-bottom: 20px;
  color: rgb(209, 208, 208);
  font-weight: bold;
  font-size: 40px;
}
.product{
  color: rgb(31, 34, 54);
  font-weight: bold;
}

.product h3{
  font-size: 30px;
  color: rgb(209, 208, 208);
  border-bottom: 2px solid rgb(209, 208, 208);
  padding-bottom: 10px;
}

.product p{
  text-align: justify;
}

.product a{
  font-size: 15px;
}

.img{ 
  background-color: rgb(231, 231, 231);
  padding-bottom: 20px;
  padding-top: 1px;
}

.btn-product{
  /* position: absolute;
  margin-top:100px;
  margin-left:30px; */
}

.margin{
  color: rgb(49, 113, 133);
}

.product img{
  margin:20px 0;
  width: 1000px;
  height:200px;
}

.product .repositorio, .product .demo{
  text-decoration: none;
  padding: 5px 7px;
  font-weight: bold;
  margin: 0 0 10px 0;
  margin-right: 10px;
  border-radius:5px;
}

.product .demo{
  background-color: rgb(49, 113, 133);
  color:rgb(231, 231, 231);

}

.product .repositorio{
  background-color:transparent;
  border: 2px solid rgb(49, 113, 133);
  color: rgb(49, 113, 133);

}

.repositorio:hover{
  background-color: rgb(49, 113, 133);
  color:rgb(231, 231, 231);
}

.demo:hover{
  text-decoration: none;
  background-color:rgb(31, 34, 54);
}

/* estilos para la seccion de 'contacto' */
#contact{
  padding-top: 10vh;
  padding-bottom:30px;
  height:100%;
  align-items: center;
  color: rgb(51, 51, 51);
  background-color:rgb(209, 208, 208);
}

.title-contact h1{
  font-size: 30px;
  font-weight: bold;
}

#contact-list{
  padding-top: 8vh;
  /* padding-bottom: 50vh; */
  height:100%;
  background-color: rgb(51, 51, 51);
  color:rgb(209, 208, 208);
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact{
  padding-bottom: 40px;
}

  
#contact-list  a i{
  font-size: 50px;
  color:rgb(209, 208, 208);
  margin: 0 10px;
}
  
#contact-list div a{
  text-decoration: none;
}
  
#contact-list div a:hover{
  text-decoration: none;
}
  
#contact-list div a i:hover{
  text-decoration: none;
 /* color: rgb(209, 208, 208);*/
  color: rgba(60, 168, 194, 0.9);
}
  
  
#contact-list h4{
  padding-top: 10vh;
  font-size: 15px;
  padding-bottom: 30px;
}

/* .button-up{
  display: absolute;
  position: fixed;
  z-index: 100000;
  background-color: red;
}
 */

@media (min-width: 768px) { 
/* estilos para la sección homepage */
  .homepage{
    background-image: url(../assets/images/compu4.jpg);
  }

  .homepage-opacity{
    background-color: rgba(58, 57, 56, 0.6);
  }
 
  .slogan{
    margin-top: 250px;
    margin-left:2px;
    float: left;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }

  .slogan h1{
    font-size: 77px;
  }

  .slogan h2{
    font-size: 60px;
  }

/* estilos para la sección de about-me */
  #aboutme{
    padding-top: 17vh;
    height:100%;
    padding-bottom:100px ;
  }
  .aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    padding-right: 20px;
  }

  .title-aboutme{
    padding-top: 7vh;
    font-size: 40px;
  }

 .interestings{
    text-align: center;
  }

  .line-decoration1{
    height: 210px;
    border-right: 2px solid rgb(4, 92, 107);
  }

  .description{
    padding: 0 15px;
    font-size: 14px;
  }

  .photo img{
    width: 200px;
    height: 150px;
    margin-bottom: 35px; 
    border-radius:10px;
  }

/* estilos para la secciòn de skills */
  #skills{
    padding-top: 14vh;
    height: 100%;
  }

  .title-skills{
    padding-top: 22vh;
    padding-bottom: 60px; 
  }

  .subtitle-tech{
    padding-top: 11vh;
    padding-bottom: 10px;
  }

  .line-decoration2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    border-right: none;
    height:none;
  }

  .blandas ul{
    margin-left:8px;
  }


/* estilos para la sección portfolio */
  #portfolio{ 
    padding-top: 13vh;
    height:100%; 
  }

  .product{
    margin: 15px 0;
    /* padding: 10px 0 20px 0; */
  }

  .product img{
    width: 800px;
    height:400px;
  }

  .product h3{
    font-size: 40px;
  }

  .img p{
    font-size:18px;
  }

  .btn-product a{
    font-size:18px;
  }


/* estilos para la sección de contacts */
  #contact{
    padding-top: 11vh;
    height:100%;
  }

  .title-contact{
    padding-top: 1vh;

  }

  .line-decoration4{
    width: 50px;
    border-bottom:2px solid rgb(51, 51, 51);
    margin-bottom:300px;
  }

  #contact-list{
    height:100%;
  }

  #contact-list div{
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  #contact-list p{
    font-size:17px;
  }

  #contact-list a{
    font-size: 80px;
  }

  #contact-list h4{
    font-size: 17px;
  }
}

/*estilos para la vista en desktop*/
@media (min-width: 992px) { 
  /* estilos para la sección homepage */
  #homepage{
    height: 100vh;
  }

  .homepage{
    background-image: url(../assets/images/computadora1.jpg);
  }
  
  .homepage-opacity{
    background-color: rgba(58, 57, 56, 0.4);
  }
  
  .slogan{
    margin-top: 300px;
    float:right;
    padding-right: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  
  .slogan h1{
    font-size: 80px;
  }
  
  .slogan h2{
    font-size: 60px;
  }
  
  /* estilos para la sección de about-me */
  #aboutme{
    padding-top: 14vh;
    height:100%;
    padding-bottom: 100px;
  }
  
  .aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
  }
  
  .title-aboutme{
    padding-top: 7vh;
  }
  
  .interestings{
    text-align: center;
  }
  
  .line-decoration1{
    height: 210px;
    border-right: 2px solid rgb(4, 92, 107);
  }
  
  .description{
    padding: 0 30px;
    font-size: 18px;
  }
  
  .title-hobbies{
    padding-top: 10vh;
    padding-bottom: 30px ;
    font-size: 30px;
    color: rgb(4, 92, 107);
    font-weight: bold;
  }
  
  .icon-hobbies span{
    border-radius: 50%;
    font-size: 55px;
    color: #fff;
    padding: 30px 30px 10px 30px;
    background-color:rgb(4, 92, 107);
    /* margin:0 55px 0 0; */
  }
  
  .icon-margin-hobbies{
    margin-top: 70px;
  }
  
  .icon-hobbies p{
    margin-top: 5px;
    font-size: 18px;
    color:rgb(4, 92, 107);
    font-weight: bold;
  }
  
  /* estilos para la secciòn de skills */
  #skills{
    padding-top: 9vh;
    height: 100vh;
  }
  
  .title-skills{
    padding-top: 0;
    padding-bottom: 90px;
    
  }
  .subtitle-tech{
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .line-decoration2{
    margin-top: 4vh;
    border-right: 2px solid rgb(4, 92, 107);
    height:80vh;
  }
  
  
  /* estilos para la sección portfolio */
  #portfolio{ 
    height:100vh; 
  }
  
  .product{
    margin: 15px;
    padding: 10px 0 20px 0;
  }
  
  .product img{
    width: 1000px;
    height:250px;
  }
  
  
  /* estilos para la sección de contacts */
  #contact{
    padding-top: 18vh;
    height:40vh;
  }
  
  .line-decoration4{
    width: 50px;
    border-bottom:2px solid rgb(51, 51, 51);
    margin-bottom:300px;
  
  }
  
  #contact-list{
    height:60vh;
    
  }
  
  #contact-list div{
    margin-bottom: 10px;
    font-size: 20px;
  }
  
}
  

 


