*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

section{
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

#aboutme, #skills, #portfolio, #contacts{
  padding-top: 12vh;
}

/*.col-md-12 h1{
  color: #ca0568;
}*/

/* estilos para el header */
header{
  width: 100vw;
  margin-top: 0;
  background-color: rgb(41, 207, 236);
  height:10vh;
  z-index: 1000;
  position: fixed;
  padding:30px;
}

header ul li{
  list-style: none;
  border: 2px dotted rgb(10, 88, 119);
  border-radius: 5px;
  background-color: rgb(29, 236, 226);
}

header ul li:hover{
  background-color: #ca0568;
  color: rgb(255, 255, 255);
}

header ul li a{
  text-decoration: none;
  margin-right: 10px;
  color: rgb(10, 88, 119);
  font-size: 18px;
  font-weight: 10px;
}

header ul li a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* estilos para la sección cover-page */
.cover-page{
  background-image: url(../assets/images/ciudad-vintage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.cover-opacity{
  background-color: rgba(25, 40, 34, 0.4);
  width:100vw;
  height:100vh ;
  /* color: rgb(247, 208, 202); */
}

.slogan{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.slogan h1{
  font-size: 50px;
  color:rgb(255, 255, 255);
 
}
.slogan h1, .slogan h2{
  margin: 5px;
}

.slogan h2{
  font-size: 35px;
}

.slogan ul{
  margin: 30px;
  font-size: 45px;
}

.slogan ul li a i{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.slogan ul li a i:hover{
  color: rgb(8, 239, 255);
  text-decoration: none;
}

.slogan ul li a:hover{
  text-decoration: none;
}

.download{
  display: flex;
  text-align: center;
  justify-content: center;
}

.download a:hover{
  text-decoration: none;
  color:rgb(8, 239, 255);
  
}

.download a h3{
  font-size: 35px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);

}

.download a h3:hover{
  color:rgb(8, 239, 255); 
  cursor: pointer;
}

.download a h3{
  color: rgb(255, 254, 254);
}

.icon-download{
  font-size: 35px;
  margin-right: 10px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* estilos para la sección de about-me */
#aboutme{
  background-color: rgba(255, 255, 255, 0.6);
}

.title-aboutme{
  font-size:100px;
  text-shadow: 2px 2px 2px black;
  border-right: 3px solid black;
}

.subtitle{
  font-size: 50px;
}

.title-hobbies{
  margin: 70px 0 30px 0;
}

.subtitle span{
  font-size: 30px;
}

.icon-hobbies{
  border-radius:80%;
  font-size: 70px;
  background-color:rgb(8, 239, 255);
  margin:0 5px;
}

.hobbies img{
  width: 330px;
  height:230px;
}

.padding{
  padding: 0!important;
  margin: 0!important;
}

.image-objetivo{
  width: 300px;
  height: 250px;
}

/* estilos para la sección de extra-page */
 .extra-page{
  background-image: url(../assets/images/paisaje.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

/* estilos para la secciòn de skills */
.title-skills{
  font-size:100px;
  text-shadow: 2px 2px 2px black;
  border-right: 3px solid black;
}

/* estilos para la sección de contacts */
#contacts{
  display: flex;
  text-align: center;
  justify-content: center;
}

#contacts h1{
  color:#ca0568;
}

.contacts-list{
  margin-top: 30px;
}

.contacts-list div{
  margin-top:5px;
}

.contacts-list div a {
  font-size: 18px;
  color:rgb(45, 107, 73) ;
}

.contacts-list div a i{
  font-size: 20px;
  color:rgb(45, 107, 73) ;
}
.contacts-list div a{
  text-decoration: none;
}

.contacts-list div a:hover{
  text-decoration: none
}




